:root{
    --white-color: #fff;
    --black-color: #000;
    --green-color: #395b38;
    --gray--color: #e8e7e7;
    --width-screen : 1200px;
    --height-header: 60px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;

}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Crimson Text', sans-serif;
    box-sizing: border-box;
}